In [2]:
import pandas as pd
import cv2

In [3]:
top = pd.read_csv('C:\k-fashion-dataset/Processed/preprocessed_top.csv', encoding='utf-8')
top

                    name  cate len
0         (116)IMG_1.jpg  블라우스  긴팔
1         (117)IMG_1.jpg  블라우스  긴팔
2         (119)IMG_1.jpg  블라우스  긴팔
3         (122)IMG_1.jpg  블라우스  긴팔
4         (123)IMG_1.jpg  블라우스  긴팔
...                  ...   ...  ..
4995  BodyFun_013_02.jpg  블라우스  긴팔
4996  BodyFun_013_03.jpg  블라우스  긴팔
4997  BodyFun_013_05.jpg  블라우스  긴팔
4998  BodyFun_013_10.jpg  블라우스  긴팔
4999  BodyFun_013_11.jpg  블라우스  긴팔

[5000 rows x 3 columns]

In [7]:
for index, row in top.iterrows():
    try:
        name = 'C:\img/{}'.format(row["name"])
        image = cv2.imread(name)
        if image is None:
            image = cv2.imread('C:\img2/{}'.format(row["name"]))
        cv2.imwrite('C:/top/{}'.format(row["name"]), image)
    except:
        continue

In [29]:
df_bottom = pd.read_csv('C:\k-fashion-dataset/Processed/preprocessed_bottom.csv')
df_bottom

                                             name cate len
0       1-(9)-008-275-2,526-14,877-FLY_349_01.jpg  스커트  미디
1       1-(9)-008-275-2,526-14,877-FLY_349_02.jpg  스커트  미디
2       1-(9)-008-275-2,526-14,877-FLY_349_04.jpg  스커트  미디
3     1-(9)-008-275-2,526-14,877-FLY_349_11_3.jpg  스커트  미디
4     1-(9)-008-275-2,526-14,877-FLY_349_11_5.jpg  스커트  미디
...                                           ...  ...  ..
4995                      MAYONE_021_00_JJ_코코.jpg   팬츠  미디
4996                            MAYONE_021_01.jpg   팬츠  미디
4997                            MAYONE_021_03.jpg   팬츠  미디
4998                            MAYONE_021_05.jpg   팬츠  미디
4999                            MAYONE_021_09.jpg   팬츠  미디

[5000 rows x 3 columns]

In [30]:
removed_index = []
for index, row in df_bottom.iterrows():
    try:
        name = 'C:\img/{}'.format(row["name"])
        image = cv2.imread(name)
        if image is None:
            image = cv2.imread('C:\img2/{}'.format(row["name"]))
        if image is None:
            removed_index.append(index)
        cv2.imwrite('C:/bottom/{}'.format(row["name"]), image)
    except:
        continue

In [11]:
df_op = pd.read_csv('C:\k-fashion-dataset/Processed/preprocessed_op.csv').drop(["image_height", "image_width"], axis=1).loc[0:4999]
df_op

,image_id,image_name,op_cate,op_top_len,op_bottom_len
0,1241458,"018-285-4,257-35,865-Hanna_409_02.jpg",드레스,반팔,니렝스
1,1241459,"018-285-4,257-35,865-Hanna_409_03.jpg",드레스,반팔,니렝스
2,1241460,"018-285-4,257-35,865-Hanna_409_05.jpg",드레스,반팔,니렝스
3,1241463,"018-285-4,257-35,865-Hanna_409_08.jpg",드레스,반팔,니렝스
4,1241464,"018-285-4,257-35,865-Hanna_409_09.jpg",드레스,반팔,니렝스
...,...,...,...,...,...
4995,472471,159419323629298000_562366004.jpg,드레스,반팔,미디
4996,472474,159419331985031800_11009347.jpg,드레스,반팔,발목
4997,472475,159419332153674500_1202235270.jpg,드레스,반팔,발목
4998,472476,159419332373880100_425149166.jpg,드레스,반팔,발목
4999,472477,159419332552950600_1368826122.jpg,드레스,반팔,발목

In [12]:
df_op.rename(columns={'op_cate':'cate'}, inplace=True)
df_op.rename(columns={'op_top_len':'top_len'}, inplace=True)
df_op.rename(columns={'op_bottom_len':'bottom_len'}, inplace=True)
df_op.rename(columns={'image_name':'name'}, inplace=True)
df_op.drop(["image_id"], axis=1, inplace=True)
df_op

                                       name cate top_len bottom_len
0     018-285-4,257-35,865-Hanna_409_02.jpg  드레스      반팔        니렝스
1     018-285-4,257-35,865-Hanna_409_03.jpg  드레스      반팔        니렝스
2     018-285-4,257-35,865-Hanna_409_05.jpg  드레스      반팔        니렝스
3     018-285-4,257-35,865-Hanna_409_08.jpg  드레스      반팔        니렝스
4     018-285-4,257-35,865-Hanna_409_09.jpg  드레스      반팔        니렝스
...                                     ...  ...     ...        ...
4995       159419323629298000_562366004.jpg  드레스      반팔         미디
4996        159419331985031800_11009347.jpg  드레스      반팔         발목
4997      159419332153674500_1202235270.jpg  드레스      반팔         발목
4998       159419332373880100_425149166.jpg  드레스      반팔         발목
4999      159419332552950600_1368826122.jpg  드레스      반팔         발목

[5000 rows x 4 columns]

In [13]:
for index, row in df_op.iterrows():
    try:
        name = 'C:\img/{}'.format(row["name"])
        image = cv2.imread(name)
        if image is None:
            image = cv2.imread('C:\img2/{}'.format(row["name"]))
        cv2.imwrite('C:/op/{}'.format(row["name"]), image)
    except:
        continue

In [14]:
df_outer = pd.read_csv('C:\k-fashion-dataset/Processed/preprocessed_outer.csv').drop(["image_height", "image_width"], axis=1).loc[0:4999]
df_outer

,image_id,image_name,outer_cate,outer_len
0,1016704,1107-14428-14428 (2-1)-20200129-1 (2188).JPG,짚업,긴팔
1,1016705,1107-14428-14428 (2-1)-20200129-1 (2189).JPG,짚업,긴팔
2,1016706,1107-14428-14428 (2-1)-20200129-1 (2190).JPG,짚업,긴팔
3,367088,158089482137760600_1359568660.jpg,재킷,긴팔
4,367093,158089482366643300_686358314.jpg,재킷,긴팔
...,...,...,...,...
4995,824376,2017_10 촬영원본-반-리ok-없음-13835-13835-lkt_1 (7237)...,코트,긴팔
4996,824377,2017_10 촬영원본-반-리ok-없음-13835-13835-lkt_1 (7238)...,코트,긴팔
4997,824378,2017_10 촬영원본-반-리ok-없음-13835-13835-lkt_1 (7239)...,코트,긴팔
4998,824379,2017_10 촬영원본-반-리ok-없음-13835-13835-lkt_1 (7240)...,코트,긴팔
4999,824380,2017_10 촬영원본-반-리ok-없음-13835-13835-lkt_1 (7241)...,코트,긴팔

In [16]:
df_outer.rename(columns={'outer_cate':'cate'}, inplace=True)
df_outer.rename(columns={'outer_len':'len'}, inplace=True)
df_outer.rename(columns={'image_name':'name'}, inplace=True)
df_outer.drop(["image_id"], axis=1, inplace=True)
df_outer

                                                   name cate len
0          1107-14428-14428 (2-1)-20200129-1 (2188).JPG   짚업  긴팔
1          1107-14428-14428 (2-1)-20200129-1 (2189).JPG   짚업  긴팔
2          1107-14428-14428 (2-1)-20200129-1 (2190).JPG   짚업  긴팔
3                     158089482137760600_1359568660.jpg   재킷  긴팔
4                      158089482366643300_686358314.jpg   재킷  긴팔
...                                                 ...  ...  ..
4995  2017_10 촬영원본-반-리ok-없음-13835-13835-lkt_1 (7237)...   코트  긴팔
4996  2017_10 촬영원본-반-리ok-없음-13835-13835-lkt_1 (7238)...   코트  긴팔
4997  2017_10 촬영원본-반-리ok-없음-13835-13835-lkt_1 (7239)...   코트  긴팔
4998  2017_10 촬영원본-반-리ok-없음-13835-13835-lkt_1 (7240)...   코트  긴팔
4999  2017_10 촬영원본-반-리ok-없음-13835-13835-lkt_1 (7241)...   코트  긴팔

[5000 rows x 3 columns]

In [18]:
for index, row in df_outer.iterrows():
    try:
        name = 'C:\img/{}'.format(row["name"])
        image = cv2.imread(name)
        if image is None:
            image = cv2.imread('C:\img2/{}'.format(row["name"]))
        cv2.imwrite('C:/outer/{}'.format(row["name"]), image)
    except:
        continue

In [28]:
df_outer.to_csv('C:\k-fashion-dataset/Processed/preprocessed_outer.csv', index = False, encoding='utf-8')

In [27]:
df_outer

                                                   name cate len
0          1107-14428-14428 (2-1)-20200129-1 (2188).JPG   짚업  긴팔
1          1107-14428-14428 (2-1)-20200129-1 (2189).JPG   짚업  긴팔
2          1107-14428-14428 (2-1)-20200129-1 (2190).JPG   짚업  긴팔
3                     158089482137760600_1359568660.jpg   재킷  긴팔
4                      158089482366643300_686358314.jpg   재킷  긴팔
...                                                 ...  ...  ..
4995  2017_10 촬영원본-반-리ok-없음-13835-13835-lkt_1 (7237)...   코트  긴팔
4996  2017_10 촬영원본-반-리ok-없음-13835-13835-lkt_1 (7238)...   코트  긴팔
4997  2017_10 촬영원본-반-리ok-없음-13835-13835-lkt_1 (7239)...   코트  긴팔
4998  2017_10 촬영원본-반-리ok-없음-13835-13835-lkt_1 (7240)...   코트  긴팔
4999  2017_10 촬영원본-반-리ok-없음-13835-13835-lkt_1 (7241)...   코트  긴팔

[5000 rows x 3 columns]