In [2]:
from ast import literal_eval
import glob2
import pandas as pd
import numpy as np
import json
import csv
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
from tensorflow.keras.utils import to_categorical
from keras.preprocessing import image
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
%matplotlib inline

In [46]:
top = pd.read_csv('label_top.csv', encoding='utf-8')
top

,image_id,image_name,image_height,image_width,top_cate,top_len,top_mat
0,703911,(116)IMG_1.jpg,1066,800,블라우스,긴팔,우븐
1,703912,(117)IMG_1.jpg,1066,800,블라우스,긴팔,우븐
2,703914,(119)IMG_1.jpg,600,800,블라우스,긴팔,우븐
3,703917,(122)IMG_1.jpg,1066,800,블라우스,긴팔,우븐
4,703918,(123)IMG_1.jpg,1066,800,블라우스,긴팔,우븐
...,...,...,...,...,...,...,...
58135,1267719,20201117_001727_504-158884201120506600_1817439...,1066,800,티셔츠,7부소매,저지
58136,1267826,20201117_001824_500번 나나린넨통팬츠-15888456106645400...,1066,800,티셔츠,반팔,저지
58137,1249213,20201117_231753_(SALE)디나-159161936189666000_42...,1066,800,티셔츠,반팔,우븐
58138,1270277,20201117_234317_랑i방 쎄미 배기팬츠-159903239298905600...,1066,800,셔츠,긴팔,우븐
58139,1272617,20201118_000011_드림-160214917533834100_77384581...,1066,800,니트웨어,긴팔,니트

In [47]:
df_top = pd.get_dummies(data = top, columns = ['top_cate', 'top_len', 'top_mat'])
df_top

,image_id,image_name,image_height,image_width,top_cate_니트웨어,top_cate_브라탑,top_cate_블라우스,top_cate_셔츠,top_cate_탑,top_cate_티셔츠,...,top_mat_우븐,top_mat_울/캐시미어,top_mat_자카드,top_mat_저지,top_mat_코듀로이,top_mat_트위드,top_mat_패딩,top_mat_퍼,top_mat_플리스,top_mat_헤어 니트
0,703911,(116)IMG_1.jpg,1066,800,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,703912,(117)IMG_1.jpg,1066,800,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,703914,(119)IMG_1.jpg,600,800,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,703917,(122)IMG_1.jpg,1066,800,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,703918,(123)IMG_1.jpg,1066,800,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58135,1267719,20201117_001727_504-158884201120506600_1817439...,1066,800,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
58136,1267826,20201117_001824_500번 나나린넨통팬츠-15888456106645400...,1066,800,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
58137,1249213,20201117_231753_(SALE)디나-159161936189666000_42...,1066,800,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
58138,1270277,20201117_234317_랑i방 쎄미 배기팬츠-159903239298905600...,1066,800,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
58139,1272617,20201118_000011_드림-160214917533834100_77384581...,1066,800,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
df_top

,top_cate_니트웨어,top_cate_브라탑,top_cate_블라우스,top_cate_셔츠,top_cate_탑,top_cate_티셔츠,top_cate_후드티,top_len_7부소매,top_len_긴팔,top_len_민소매,...,top_mat_우븐,top_mat_울/캐시미어,top_mat_자카드,top_mat_저지,top_mat_코듀로이,top_mat_트위드,top_mat_패딩,top_mat_퍼,top_mat_플리스,top_mat_헤어 니트
0,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
296,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
297,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
298,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
299,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from keras.preprocessing import image
from tqdm import tqdm

In [ ]:

train_image = []
for i in tqdm(range(0, 300)):
    img = image.load_img('C:/img/'+df_top['image_name'][i],target_size=(400,400,3))
    img = image.img_to_array(img)
    img = img/255
    train_image.append(img)

In [ ]:
print(len(train_image))

In [ ]:
X = np.array(train_image[:300])
X.shape

In [ ]:
plt.imshow(X[1])

In [9]:
y = np.array(df_top.drop(['image_id', 'image_name', 'image_height', 'image_width'], axis=1)[:300])
len(y)

300

In [18]:
len(df_top.columns.)

38

38

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.1)

In [ ]:
print(X_train.shape)
print(y_train.shape)

In [ ]:
model = Sequential()
model.add(Conv2D(filters=16, kernel_size=(5, 5), activation="relu", input_shape=(400,400,3)))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))
model.add(Conv2D(filters=32, kernel_size=(5, 5), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))
model.add(Conv2D(filters=64, kernel_size=(5, 5), activation="relu"))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))
model.add(Conv2D(filters=64, kernel_size=(5, 5), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(38, activation='sigmoid'))

In [ ]:
model.summary()

In [ ]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(X_train, y_train, epochs=10, validation_data=(X_test, y_test), batch_size=64)

In [ ]:
img = image.load_img('C:/img2/(23)IMG_1.jpg',target_size=(400,400,3))
img = image.img_to_array(img)
img = img/255
prob = model.predict(img.reshape(1,400,400,3))
top_3 = np.argsort(prob[0])[:-4:-1]
top_3.tolist()

In [ ]:
loss_and_metrics = model.evaluate(X_test, y_test, batch_size=64)
print('')
print('loss_and_metrics : ' + str(loss_and_metrics))

In [ ]:
from keras.models import load_model

model.save('model_top.h5')
print('saved')

In [111]:
def count_correct_result(list, result):
    answer = 0
    list_answer = []
    style_list = list[0:7].tolist()
    len_list = list[7:13].tolist()
    mat_list = list[13: 38].tolist()
    list_answer.append(style_list.index(max(style_list)))
    list_answer.append(len_list.index(max(len_list)) + 7)
    list_answer.append(mat_list.index(max(mat_list)) + 13)
    for i in result:
        if i in list_answer:
            answer += 1
    return answer

In [112]:
def real_answer(image_name):
    count = -4
    answer = []
    temp_df = df_top[df_top['image_name'] == image_name]
    for i in temp_df.columns:
        if count >= 0 and int(temp_df[i].values[0]) == 1:
            answer.append(count)
        count += 1
    return answer

In [114]:
from random import randint
import os.path
from tqdm import tqdm

In [32]:
reconstructed_model = keras.models.load_model("model_top.h5")

[[0.250557541847229,
  0.024436652660369873,
  0.45895853638648987,
  0.24229949712753296,
  0.03473830223083496,
  0.0922454297542572,
  0.048743993043899536,
  0.08543038368225098,
  0.7074280977249146,
  0.09583154320716858,
  0.1366976499557495,
  0.02122974395751953,
  0.03222218155860901,
  0.020163297653198242,
  0.013485223054885864,
  0.218113511800766,
  0.0355762243270874,
  0.014504104852676392,
  0.0459115207195282,
  0.03166157007217407,
  0.014717906713485718,
  0.01902294158935547,
  0.018652647733688354,
  0.014844566583633423,
  0.031763315200805664,
  0.00996580719947815,
  0.11605212092399597,
  0.062165290117263794,
  0.5305594801902771,
  0.1158197820186615,
  0.019915878772735596,
  0.03750103712081909,
  0.012842506170272827,
  0.01938202977180481,
  0.011497467756271362,
  0.012213706970214844,
  0.01201888918876648,
  0.027957767248153687]]

In [101]:
img = image.load_img('C:/img/(116)IMG_1.jpg',target_size=(400,400,3))
img = image.img_to_array(img)
img = img/255
print(reconstructed_model.predict(img.reshape(1,400,400,3))[0])
count_correct_result(reconstructed_model.predict(img.reshape(1,400,400,3))[0], real_answer("(116)IMG_1.jpg"))

[0.25923973 0.03165245 0.45751798 0.25705433 0.04407531 0.10575047
 0.0585244  0.09906816 0.6932416  0.11145675 0.15690342 0.02825385
 0.04093507 0.02653065 0.01813924 0.23293379 0.04449815 0.01908675
 0.05604902 0.03936693 0.01986519 0.02469018 0.02483204 0.01940238
 0.04027101 0.01363045 0.13491246 0.07299143 0.52433795 0.13161477
 0.02593097 0.04628941 0.01734591 0.02559435 0.01527286 0.01702857
 0.01681992 0.03580141]
38
[0.25923973321914673, 0.03165245056152344, 0.45751798152923584, 0.25705432891845703, 0.04407531023025513, 0.10575047135353088, 0.05852439999580383]
[0.09906816482543945, 0.6932415962219238, 0.11145675182342529, 0.15690341591835022, 0.02825385332107544, 0.04093506932258606]
[0.02653065323829651, 0.018139243125915527, 0.23293378949165344, 0.04449814558029175, 0.019086748361587524, 0.05604901909828186, 0.03936693072319031, 0.019865185022354126, 0.024690181016921997, 0.024832040071487427, 0.019402384757995605, 0.04027101397514343, 0.013630449771881104, 0.13491246104240417, 0.07299143075942993, 0.5243379473686218, 0.1316147744655609, 0.025930970907211304, 0.046289414167404175, 0.017345905303955078, 0.025594353675842285, 0.015272855758666992, 0.0170285701751709, 0.016819924116134644, 0.03580141067504883]
[2, 8, 28]
[2, 8, 28]

3

In [116]:
answer = 0
sum = 0
for i in tqdm(range(0, 300)):
    try:
        name = df_top['image_name'][randint(1, 58140)]
        if os.path.isfile('C:/img/' + name):
            img = image.load_img('C:/img/' + name,target_size=(400,400,3))
        if os.path.isfile('C:/img2/' + name):
            img = image.load_img('C:/img2/' + name,target_size=(400,400,3))
        img = image.img_to_array(img)
        img = img/255
        answer += count_correct_result(reconstructed_model.predict(img.reshape(1,400,400,3))[0], real_answer(name))
        sum += 3
    except:
        continue
print("Accuracy = " + str(answer / sum))

100%|██████████| 300/300 [00:34<00:00,  8.78it/s]

Accuracy = 0.39241917502787066